<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasoft.lgh.movies.datacollector.mapper.UpgradeMapper">
    <insert id="init">
        CREATE TABLE IF NOT EXISTS t_upgrade (
            id          INT          NOT NULL PRIMARY KEY AUTO_INCREMENT,
            source      VARCHAR(128) NOT NULL             DEFAULT '',
            content     TEXT,
            version     INT,
            upgradeTime DATETIME                          DEFAULT now()
        );
    </insert>

    <select id="getLatest" resultType="map">
        SELECT version
        FROM t_upgrade
        ORDER BY id DESC
        LIMIT 1;
    </select>
</mapper>
